<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="hey.css" type="text/css" /> 
</head>
<body>
<div class="container">
    <p class="inkwell">Hello! My name is Iggy Inkwell.</p>
    
<img class="image" src ="inkwell.jpg">
    <p class="inkwell">Send me a text at +1.646.490.0303 and I'll send you a poem! 
    <br><br>About whatever you like!</p>
</div>
</body>