<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="hey.css" type="text/css" /> 
</head>
<body>
<div class="container">
<img src ="inkwell.jpg">
<p class="inkwell">Hello! My name is Iggy Inkwell. I write poems.
    <br><br>Send me a text at +1.646.490.0303 and I'll send you one! 
    <br><br>About whatever you like!</p>
</div>
</body>