<!DOCTYPE html>
<html>
<head>
    <meta name="apple-itunes-app" content="app-id=766941226"/>
    <title>Poems.io</title>
    
<link rel="stylesheet" href="hey.css" type="text/css" /> 
 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</head>
<body>
<div class="container">
    <p class="inkwell">Today, a text adventure in space. Download for free on iPhone and iPad.</p>
    <p class="buttons"><a href="https://itunes.apple.com/us/app/today-text-adventure-in-space/id766941226?mt=8&uo=4" target="itunes_store"style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>&nbsp;&nbsp;<a href="https://twitter.com/poemsio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @poemsio</a></p>
</div>
</body>