<!DOCTYPE html>
<html>
<head>
    <title>Poems.io</title>
    
<link rel="stylesheet" href="hey.css" type="text/css" /> 
</head>
<body>
<div class="container">
    <p class="inkwell">Pssst... Something cool will be here soon!</p>
</div>
</body>